datadrift_table_name: 'datadrift_table'

server:
  ip: 0.0.0.0
  port: 18880

postgres:
  host: "127.0.0.1"
  port: 5432
  dbname: "postgres"
  user: "postgres"
  password: "postgres"

redis:
  host: "127.0.0.1"
  port: 6379
  db: 0
  objdet_stream: "object_detections"
  vlm_stream: "vlm_verifications"

########### for object detection ###########
video:
  source: "0"
  camera_id: "camera_1"

yolo_model:
  # model_name: "./model/firesmoke_yolov8n_best.pt"
  model_name: "./model/genderdet_last.pt"
  conf_thresh: 0.3
  allow_classes: "person,man,woman,car,fire,smoke,animal"

preview:
  roi_jpeg_quality: 80
  show_preview: 0
  
########### vlm event recognizer ###########  
clip_model:
  model_name_low: "ViT-B/32" 
  model_name_high: "ViT-L/14" 

#OpenAI CLIP에서 자주 쓰는 모델 이름
#"ViT-B/32" → 가장 가볍고 빠른 버전 (low)
#"ViT-B/16" → 중간 성능/속도
#"ViT-L/14" → 큰 모델, 더 정확 (high)
#"ViT-L/14@336px" → 입력 해상도까지 키운 초고성능 버전

vlm_intervals:
  interval_sec: 10
  window_sec: 30  

video:
  # source: "D:/videos/single_tracking.mp4"
  source: "D:/videos/falldownfire.mp4"
  camera_id: "007"