datadrift_table: datadrift_db
datasets:
  base_path: ../datasets
  objdet_save_data: true
  use_last_merged_data_4train: false
  new_ratio: 1
  old_ratio: 0
server:
  ip: 0.0.0.0
  port: 18880
postgres:
  host: 127.0.0.1
  port: 5432
  dbname: postgres
  user: postgres
  password: postgres
database:
  partition_create_hour: 23
  partition_create_minute: 0
video:
  source: D:/videos/105 Incredible Moments Caught on CCTV Camera.mp4
  camera_id: '007'
yolo_model:
  original_model_name: .\model\yolov8n_gdr.pt
  updated_model_name: .\model\yolov8n_gdr_20251113_v1.pt
  use_original_model: false
  conf_thresh: 0.5
  allow_classes: all
  criteria_classes: person
  last_model_update: '2025-11-13T06:42:46.159751'
model_update:
  overall_map_threshold: 0.0
  criteria_class_map_threshold: 0.01
  auto_use_updated_model: true
  backup_old_model: false
  config_check_interval: 10.0
  monitor_train: false

training:
  use_previous_model_finetune: true  # true: 이전 모델에서 파인튜닝 / false: 베이스 모델에서 새로 학습
  finetune_lr0: 0.001  # Fine-tuning 시작 learning rate
  finetune_lrf: 0.01   # Fine-tuning 최종 learning rate 비율
  fresh_lr0: 0.002     # Fresh training 시작 learning rate
  fresh_lrf: 0.05      # Fresh training 최종 learning rate 비율
drift_detection:
  drift_check_period: 1 days
  drift_check_interval_minutes: 60
  drift_threshold: 0.01
  cooldown_after_update: 30 minutes
  training_lock_timeout_hours: 6
preview:
  roi_jpeg_quality: 80
  show_preview: 0
